<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ccj286 HW #5</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <h1>Sound Reporting Data</h1>
        </header>
        <main>
            {{{ body }}}
            <div>Pages Seen: {{pagecount}}</div>
        </main>
        <footer>
            <a href="/">All Sounds</a>
            <a href="/sounds/add">Report a Sound</a>
            <a href="/sounds/mine">See my Reports</a>
        </footer>
    </body>
</html>