<h3>Report a Sound</h3>

<img src="/img/thing.png">

<form class="add-sound" method="POST" action="">
    <input type="text" name="what" value="" placeholder="What" required>
    <input type="text" name="where" value="" placeholder="Where" required>
    <input type="date" name="date" value="" placeholder="Date (YYYY-MM-DD)" required>
    <input type="number" name="hour" value="" placeholder="Hour (0-23)" required min="0" max="23">
    <textarea type="text" name="desc" placeholder="Description"></textarea>

    <input type="submit" value="Submit">
</form>