<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ccj286 HW #4</title>
        <link rel="stylesheet" href="/css/base.css">
    </head>
    <body>
        <header>
            <h1>ASCII Sketchbook</h1>
            <img class="logo" src="/img/logo.png" alt="ascii image of pikachu">
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            <a href="/">Home</a>
            <a href="/add">Add an Entry</a>
        </footer>
    </body>
</html>