<form class="add-artwork" method="POST" action="/add">
    <input type="text" name="title" value="" placeholder="Artwork Name">
    <input type="date" name="date">
    <input type="text" name="tags" value="" placeholder="Artwork Tags (separate by spaces)">
    <textarea type="text" name="artwork" placeholder="ASCII Artwork"></textarea>
    <input type="submit">
</form>